<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unicode ASCII </title>
    <link rel="stylesheet" href="style.css">
    <style>
        h1 {
            color: pink;
            }
    </style>
</head>
<body>
<h1>Character codes <a href="/easteregg/"><img src="../static/easter_egg.png" width="15" height="20" target=new"></a></h1>
<h3>ASCII is a character encoding standard for electronic communication. ASCII codes represent text in computers, telecommunications equipment, and other devices.</h3>
<h3>Unicode is an information technology standard for the consistent encoding, representation, and handling of text expressed in most of the world's writing systems. </h3>
<h3>Have a try!</h3>
<link rel="stylesheet" href="style.css">
<style>
        h3 {
            color: light green;
            }
    </style>
<form action="/char/" method="POST">
    <table border="1">
        <tr>
            <th>Code type</th>
            <th>Value</th><th>Result</th>
            <th>Code Type</th>
            <th>Value</th><th>Result</th>
        </tr>
        <tr>
            <td>ASCII</td>
            <td><Input type="Text" name="ASCIICode" size="4" align="center" class="ASCIIDiv"></td>
            <td><p align="center" class="asciiDiv">{{ asciicode }}</p ></td>
            <td>Unicode</td><td><input type="Text" name="UnicodeCode" size="4"></td>
            <td><p align="center" class="unicodeDiv">{{ unicode }}</p ></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>