<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
</head>
<body>
    <h1>P2-Ducks Project <a href="/easteregg/"><img src="../static/easter_egg.png" width="15" height="20"></a></h1>
    <p>The project's goal is to show elements from the Harvard professor's lecture as a live website</p>
    <form>
        <table>
            <tr><th>Project Section</th><th>Link</th></tr>
            <tr><td><b>Harvard Video</b></td><td><a href="https://www.youtube.com/watch?v=jjqgP9dpD1k&list=PLhQjrBD2T381L3iZyDTxRwOBuUt6m1FnW&index=1" target="new">The Video</a></td></tr>
            <tr><td><b>Binary</b></td><td><a href="https://en.wikipedia.org/wiki/Binary_number" target="new">Wikipedia Definition</a></td></tr>
            <tr><td>Python function</td><td><a href="https://www.w3schools.com/python/ref_func_bin.asp">W3Schools example</a></td></tr>
        </table>
    </form>
</body>
</html>