<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GIFs</title>
</head>
<body>
<h1>GIFs <a href="/easteregg/"><img src="../static/easter_egg.png" width="15" height="20" target=new"></a></h1>
</body>
</html>
<img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves"  width=250/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
      .hidden{
        display: none;
      }
    </style>
</head>
<body>
<div><button id="summonPokemon">Load pokeball animation!!</button></div>
    <img src="http://static.tumblr.com/46cb5b1d63cf84148220815beac16919/sqjwi15/uQCn06vx6/tumblr_static_tumblr_mmff7iuxxv1qhd8sao1_500.gif" class="hidden" id="pokemon">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $.fn.center = function () {
        this.css("position","absolute");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
        return this;
      }

      $("#summonPokemon").on("click", function(){
        $("#pokemon").fadeIn().center();
        setTimeout(function(){
          $("#pokemon").fadeOut()
        }, 1000);
      });
    </script>
</body>
</html>