<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>GIFs</title>
{% endblock %}
{% block body2 %}
</head>
<body style = "background: url(https://wallpapercave.com/wp/wp2757874.gif)">
<h1>GIFs <a href="/easteregg/"><img src="../static/easter_egg.png" width="15" height="20" target=new"></a></h1>
<form action="/gif/" method="post">
    <select name="selGif" id="selGif">
        <option value="../static/blinking.gif">Blinking</option>
        <option value="../static/chopping.gif">Food</option>
        <option value="../static/eating.gif">Food2</option>
        <option value="http://i.stack.imgur.com/SBv4T.gif">Secret</option>
    </select>
    <input type="submit">
</form>
<img src={{ gif }} alt="gif from python" width="250"/>
}
</html>
<img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves"  width=250/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
    }
      .hidden{
        display: none;
      }
    </style>
</head>
{% endblock %}
</html>