<!DOCTYPE html>
<html>
<head>
  <style>
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}
</style>
</head>
<body>

<h1>Minilab: Game Information Page</h1>

<form action="/bin/" method="post">
  <table border="1" width="90%" align="center">
    <tr>
        <td><h2>Mario Cart</h2>
        <div class="myDIV"><img src="https://wallpapercave.com/uwp/uwp28955.jpeg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
        <div class="hide">Mario Cart is a series of racing games developed and published by Nintendo in which users compete in races with different
  characters in an attempt to complete a certain amount of circuits before the other characters. It had first been released in August 27,
  1992 and it was designed by Shigeru Miyamoto, Hideki Konno, Satoru Iwata, Takashi Tezuka, Tadashi Sugiyama, Yugo Hayashi, and Taku Matoba.</div>
        <td><h2>Need for Speed</h2>
        <div class="myDIV"><img src="https://wallpapercave.com/uwp/uwp945630.jpeg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
        <div class="hide">Need for Speed is a series of racing games developed by Criterion Games and published by Electronic Arts which centers
  around street racing and the users have to complete many different races and escape the law enforcement in game. It had first been released in August 31,
  1994 and it was designed by Electronic Arts, Andy Tudor, and Riley Cooper.</div>
      <td><h2>Rocket League</h2>
      <div class="myDIV"><img src="https://wallpapercave.com/wp/wp8096325.jpg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
      <div class="hide">Rocket League is a game which was both developed and published by Psyonix in which two teams of rocket powered vehicles play soccer
  and attmept to score goals in the opponents goal. It had first been released in July 7, 2015. </div>
      <td><h2>Forza</h2>
      <div class="myDIV"><img src="https://wallpapercave.com/wp/wp1905495.jpg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
      <div class="hide">Forza is a series of stimulation racing games which mainly focuses on profesional racing events and imitates the performance for many
  real life produced cars. It had first been released in May 3, 2005 and was designed by Ben Thaker-Fell</div>
    <tr>

<form action="/bin/" method="post">
  <table border="1" width="90%" align="center">
    <tr>
        <td><h2>Fortnite</h2>
        <div class="myDIV"><img src="https://wallpapercave.com/wp/wp3748336.jpg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
        <div class="hide">Fortnite is a survival game which was developed by Epic Games which can be played over the platforms of a PlayStation 4, Nintendo
  Switch, Xbox One, Android, IOS, Computers, etc and in the game there are 100 players who join the game to fight against each other
  until there is one user remaining. It had first been released in July 21, 2017 and it was designed by Darren Sugg.</div>
        <td><h2>Player Unknown's Battlegrounds (PUBG)</h2>
        <div class="myDIV"><img src="https://wallpapercave.com/uwp/uwp690147.png" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
        <div class="hide">Player Unknown's Battlegrounds is a survival game developed and published by PUBG Corporation which is a subsidiary company
  of the South Korean game company names Bluehole. In this game, 100 players join a battle royale in which they fight until there is one user remaining
  and the users can join the game solo, duo, or with a group of four people. It had first been released in July 30, 2016 and it was designed by Brendan Greene</div>
        <td><h2>Terraria</h2>
        <div class="myDIV"><img src="https://wallpapercave.com/wp/wp2233411.jpg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
        <div class="hide">Terraria is an action-adventure game which was developed by Re-Logic and this game is a sandbox game which features exploring,
  building, crafting, mining, fighting, etc. It had first been released in May 16, 2011.</div>
        <td><h2>Overwatch</h2>
        <div class="myDIV"><img src="https://wallpapercave.com/wp/wp1809698.jpg" class="mr-3 mt-3 rounded-circle" style="width:400px;"></div>
        <div class="hide">Overwatch is a first person shooter game which was developed and published by Blizzard Entertainment and in this game, the users are
  assigned into two opposing teams of six players and the users can choose different characters to use in the match. It had first been released in May 3,
  2016 and it was designed by Scott Mercer, Jeremy Craig, Michael Elliott</div>
    <tr>

<form action="/bin/" method="post">
  <table border="1" width="90%" align="center">
    <tr>
        <td><h2>Links to Official Websites</h2>
            <div class="row">
            <h3>Mario Cart</h3>
            <p><a href="https://mariokart8.nintendo.com/">Mario Cart</a></p>
            <h3>Need for Speed</h3>
            <p><a href="https://www.ea.com/games/need-for-speed">Need for Speed</a></p>
            <h3>Rocket League</h3>
            <p><a href="https://www.rocketleague.com/">Rocket League</a></p></div>
            <h3>Forza</h3>
            <p><a href="https://forzamotorsport.net/en-US">Forza</a></p></div>
            <h3>Fortnite</h3>
            <p><a href="https://www.epicgames.com/fortnite/en-US/home">Fortnite</a></p></div>
            <h3>PUBG</h3>
            <p><a href="https://www.pubgmobile.com/en-US/home.shtml">PUBG</a></p></div>
            <h3>Terraria</h3>
            <p><a href="https://terraria.org/">Terraria</a></p></div>
            <h3>Overwatch</h3>
            <p><a href="https://playoverwatch.com/en-us/">Overwatch</a></p></div>
    <tr>
</body>
</html>

