<!DOCTYPE html>
<html>
<head>
    <title>
        RedGreenBlu
    </title>
    <style>
        div {
            background-color: rgb({{ red }}, {{ green }}, {{ blue }});
            color: rgb(255, 255, 255);
            padding: 20px;
        }
    </style>
</head>
<body>
<form action="/rgb/" method="POST">
    <table border="1">
        <tr>
            <th style="background-color:red">Red</th>
            <th style="background-color:green">Green</th>
            <th style="background-color:blue">Blue</th>
            <th>Result</th>
            <th></th>
        </tr>
        <tr>
            <td><Input type="Text" id="codeRed" size="4" maxlength="3" value={{ red }}></td>
            <td><Input type="Text" id="codeGreen" size="4" maxlength="3" value={{ green }}></td>
            <td><Input type="Text" id="codeBlue" size="4" maxlength="3" value={{ blue }}></td>
            <td><div class="colorDiv">Color</div></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</head>
</html>
